<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Vue.js</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>проверка работы выгрузки на сервер</h1>

                <div class="alert alert-success" role="alert">
                    <a href="#" class="alert-link">Тестируем еще раз. Тепе все должно получиться.</a>
                </div>
                <p>Должно все получиться </p>
                <span class="label label-default">Default</span>
                <span class="label label-primary">Primary</span>
                <span class="label label-success">Success</span>
                <span class="label label-info">Info</span>
                <span class="label label-warning">Warning</span>
                <span class="label label-danger">Danger</span>
                <p>Дальше работа над этим приложением будет продолжаться только так.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="app">
                    <i>{{ message }}</i><br>
                    <input type="text" v-model="message">
                    <ul>
                        <li v-for="bear in bears" :class="{'strike': bear.status}">{{ bear.name }}</li>
                    </ul>
                    <button @click="onClick">Кнопка</button>
                    <button class="btn-default" @click="show = !show">Кнопка</button>
                    <div class="box" v-if="show" ></div>

                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>

        new Vue({
            el: "#app",
            data: {
                message: "Hello World",
                bears:[
                    {
                        name:'гризли',
                        status: false
                    },
                    {
                        name:'белый',
                        status: false
                    },
                    {
                        name:'панда',
                        status: true
                    },
                    {
                        name:'губач',
                        status: false
                    },

                ],
                show: false
            },
            methods:{
                onClick: function () {
                    alert(this.message)
                }
            }

        })
    </script>
</body>
</html>